<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd

         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="ru.innopolis.university.ramis" />

    <bean id="userService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1199/UserService"/>
        <property name="serviceInterface" value="ru.innopolis.university.ramis.service.UserService"/>
    </bean>

    <bean id="studentService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1199/StudentService"/>
        <property name="serviceInterface" value="ru.innopolis.university.ramis.service.StudentService"/>
    </bean>

    <bean id="lectureService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1199/LectureService"/>
        <property name="serviceInterface" value="ru.innopolis.university.ramis.service.LectureService"/>
    </bean>

    <bean id="studentLectureService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1199/StudentLectureService"/>
        <property name="serviceInterface" value="ru.innopolis.university.ramis.service.StudentLectureService"/>
    </bean>


</beans>